<!DOCTYPE html>
<html lang="en" ng-app="TestApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- load Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <link rel="stylesheet" href="css/main.css">

    <script src="js/app.js"></script>
</head>

<body>
    <header class="container">
        <h1>Sign Up</h1>
        <h4>Our service is fun and awesome, but you must be 13 years old to join</h2>
    </header>
    <main class="container">
        <form name="myForm" ng-controller="FormCtrl" role="form" novalidate>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" type="text" name="email" ng-model="email" placeholder="Email address" required></input>
                <p id="needEmail" class="help-block" ng-show="myForm.email.$error.required && myForm.email.$touched">An email is required.</p>
                <p id="validEmail" class="help-block" ng-show="myForm.email.$invalid && myForm.email.$touched">This is not a valid email address.</p>
            </div>
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input class="form-control" id="first_name" type="text" name="first_name" ng-model="first_name" placeholder="your first name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input class="form-control" id="last_name" type="text" name="last_name" ng-model="last_name" placeholder="your last name" required>
                <p id="last-required" class="help-block" ng-show="myForm.last_name.$touched && myForm.last_name.$error.required">A last name is required.</p>
            </div>
            <div class="form-group">
                <label for="birthdate">Birthdate:</label>
                <input class="form-control" id="birthdate" type="text" name="birthdate" ng-model="birthdate" placeholder="Your Birthdate" ng-change="validateBirthdate(myForm)" required>
                <p id="needBirthdate" ng-show="myForm.birthdate.$touched && myForm.birthdate.$error.required">A birthdate is required.</p>
                <p id="validDate" ng-show="myForm.birthdate.$error.validDate">You must enter a valid date.</p>
                <p id="oldEnough" ng-show="myForm.birthdate.$error.minYear">You must be at least 13.</p>
                <p id="tooOld" ng-show="myForm.birthdate.$error.maxYear">As of 13 May 2016 there is only one person born before 30 November 2016.</p>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="text" ng-model="password" name="password" ng-change="validatePassword(myForm)" required>
                <p id="password-required" class="help-block" ng-show="myForm.password.$touched && myForm.password.$error.required">A password is required</p>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input class="form-control" ng-change="validatePassword(myForm)" id="confirm_password" type="text" ng-model="confirm_password" name="confirm_password" required>
                <p id="password-match" class="help-block" ng-show="myForm.password.$error.passwordsMatch">Passwords must match.</p>
                <p id="confirm-required" class="help-block" ng-show="myForm.confirm_password.$touched && myForm.confirm_password.$error.required">You must confirm your password</p>
            </div>
            <button id="reset" type="reset" class="btn btn-secondary" ng-click="reset()" name="reset">Reset</button>
            <button id="submit" type="submit" class="btn btn-primary" ng-click="showHide()" ng-disabled="myForm.$invalid">Sign Me Up!</button>
            <div ng-show="visible" id="success" class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Great, you're all set!</strong> Welcome, new user!
            </div>
            
        </form>
    </main>
</body>

</html>