<!DOCTYPE html>
<html lang="en" ng-app="TestApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- load Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <link rel="stylesheet" href="css/main.css">

    <script src="js/app.js"></script>
</head>

<body>
    <header class="container">
        <h1>Sign Up</h1>
        <h4>Our service is fun and awesome, but you must be 13 years old to join</h2>
    </header>
    <main class="container">
        <form ng-controller="FormCtrl" role="form" novalidate>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" id="email" type="text" name="email" ng-model="email" placeholder="email address">
            </div>
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input class="form-control" id="first_name" type="text" name="first_name" ng-model="first_name" placeholder="your first name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input class="form-control" id="last_name" type="text" name="last_name" ng-model="last_name" placeholder="your last name">
            </div>
            <div class="form-group">
                <label for="birthdate">Birthdate:</label>
                <input class="form-control" id="birthdate" type="text" name="birthdate" ng-model="birthdate" placeholder="your birthdate">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" id="password" type="text" ng-model="password" name="password">
            </div>
            <div class="form-group">
                <label for="confirm_password">Password:</label>
                <input class="form-control" id="confirm_password" type="text" ng-model="confirm_password" name="confirm_password">
            </div>
            <button type="reset" class="btn btn-secondary" name="reset" value = "reset">Reset</button>
            <button type="submit" class="btn btn-primary">Sign Me Up!</button>
        </form>
    </main>
</body>

</html>